.DS_Store
*.tar.gz
*.ya[m]l
.saasrc
.env-files
.install-defender
*.lock
*.sql
*.json
.ruby-version
.bundle-done
.sypctl-*
nohup.out
mode

linux/packages
linux/bash/sqoop-*

etl/db
etl/logs
etl/tmp

agent/.config/
agent/human-name
agent/init-uuid
agent/device-uuid
agent/config/id_rsa_pub.list
agent/config/server.list
agent/config/deploy_tasks.sh
agent/logs/
agent/tmp/
agent/db/jobs/
agent/db/versions/
agent/db/file-backups/
agent/db/*.json
agent/db/records-*
agent/monitor/

tmp/
logs