.DS_Store
*.tar.gz
*.ya[m]l
.saasrc
.env-files
.install-defender
*.lock
.ruby-version
.bundle-done
.sypctl-*

linux/packages
linux/bash/sqoop-*

etl/db
etl/logs
etl/tmp

agent/env-files
agent/human-name
agent/web-title
agent/web-favicon
agent/init-uuid
agent/device-uuid
agent/password
agent/local-sypctl-server
agent/app-port
agent/app-worker-processes
agent/config/id_rsa_pub.list
agent/config/server.list
agent/config/deploy_tasks.sh
agent/logs/
agent/tmp/
agent/jobs/
agent/db/agent.json
agent/db/records-*
agent/monitor/

tmp/
