{
  "from": {
    "host": "remote-host",
    "port": "3306",
    "username": "username",
    "password": "password",
    "database": "database"
  },
  "to": {
    "host": "127.0.0.1",
    "port": "3306",
    "username": "root",
    "password": "password",
    "database": "database"
  }
}