192.168.30.110:
  inner_ip: '192.168.30.110'
  inner_port: 22
  outer_ip: '180.167.57.53'
  outer_port: 10821
  description: 'hadoop1'
  username: 'root'
  password: '******'
192.168.30.111:
  inner_ip: '192.168.30.111'
  inner_port: 22
  outer_ip: '180.167.57.53'
  outer_port: 10822
  description: 'hadoop2'
  username: 'root'
  password: '******'
192.168.30.112:
  inner_ip: '192.168.30.112'
  inner_port: 22
  outer_ip: '180.167.57.53'
  outer_port: 10823
  description: 'hadoop3'
  username: 'root'
  password: '******'
192.168.30.113:
  inner_ip: '192.168.30.113'
  inner_port: 22
  outer_ip: '180.167.57.53'
  outer_port: 10824
  description: 'hadoop4'
  username: 'root'
  password: '******'
192.168.30.114:
  inner_ip: '192.168.30.114'
  inner_port: 22
  outer_ip: '180.167.57.53'
  outer_port: 10825
  description: 'hadoop5'
  username: 'root'
  password: '******'