[Desktop Entry]
Encoding=UTF-8
Name=kettle
Exec=/usr/local/src/kettle-8.2.0.0_342/spoon.sh
Icon=/usr/local/src/kettle-8.2.0.0_342/spoon.ico
Terminal=false
Type=Application
Categories=Application;