{
  "notify-type": "webhook",
  "project": "Gitlab服务器",
  "webhook-config": {
    "description": "qyweixin-webhook",
    "url": "https://qyapi.weixin.qq.com/cgi-bin/webhook/send",
    "keys": [
      {
        "name": "苏小匠/开发部",
        "key": "78424a00-4a56-4544-b7b3-ec1720c5d76c"
      }
    ]
  },
  "sms-config": {
    "description": "aliyun-sms",
    "mobiles": [
      {
        "name": "李俊杰",
        "mobile": "13564379606"
      }
    ],
    "sign_name": "胜因学院",
    "access_key_id": "access_key_id",
    "access_key_secret": "access_key_secret",
    "template_id": "SMS_160572212",
    "template_content": "紧急，${project} 项目，监控到 ${message} 异常，请尽快处理",
    "template_options": "{\"project\":\"${project}\",\"message\":\"${message}\"}"
  },
  "api": [
    {
      "project": "胜因学院",
      "url": "https://api.idata.mobi/api/v3/check-alive",
      "keywords": {
        "success": [
          "SUCCESS"
        ],
        "failure": []
      }
    },
    {
      "project": "胜因开发",
      "url": "https://api-dev.idata.mobi/api/v3/check-alive",
      "keywords": {
        "success": [
          "SUCCESS"
        ],
        "failure": []
      }
    }
  ],
  "disk": [
    {
      "mountedon": "/",
      "threshold": 0.95,
      "guard_commands": []
    },
    {
      "mountedon": "/data",
      "threshold": 0.95,
      "guard_commands": []
    }
  ],
  "memory": {
    "threshold": 0.9,
    "guard_commands": [
      "sudo sysctl vm.drop_caches=3"
    ]
  }
}